{
    "all": {
        "files": [
            {
                "filename": "nessus_org.pem",
                "directory": 0
            },
            {
                "filename": "known_CA.inc",
                "directory": 3
            },
            {
                "filename": "plugin_feed_info.inc",
                "directory": 3
            },
            {
                "filename": "daily_badip.inc",
                "directory": 3
            },
            {
                "filename": "scap_schema.inc",
                "directory": 3
            },
            {
                "filename": "oval-definitions-schematron.inc",
                "directory": 3
            },
            {
                "filename": "custom_CA.inc",
                "directory": 3
            },
            {
                "filename": "agent_normalize_metadata.nbin",
                "directory": 3
            },
            {
                "filename": "feed_metadata.json",
                "directory": 3
            }
        ],
        "agentTags": ["all"],
        "families": []
    },
    "windows": {
        "files": [
            {
                "filename": "tenable_mw_scan64.inc",
                "directory": 3
            },
            {
                "filename": "tenable_mw_scan32.inc",
                "directory": 3
            },
            {
                "filename": "tenable-utils-WINDOWS-x64.bin",
                "directory": 3
            },
            {
                "filename": "tenable-utils-WINDOWS-x86.bin",
                "directory": 3
            }
        ],
        "families": ["Windows", "Windows : User management", "Windows : Microsoft Bulletins"],
        "agentTags": ["%windows%"]
    },
    "darwin": {
        "files": [
            {
                "filename": "tenable-utils-DARWIN.bin",
                "directory": 3
            }
        ],
        "families": ["MacOS X Local Security Checks"],
        "agentTags": ["%unix%"]
    },
    "linux": {
        "files": [
            {
                "filename": "linux_yara_aarch64.inc",
                "directory": 3
            },
            {
                "filename": "linux_yara_arm.inc",
                "directory": 3
            },
            {
                "filename": "linux_yara_mipsel.inc",
                "directory": 3
            },

            {
                "filename": "linux_yara_mips.inc",
                "directory": 3
            },
            {
                "filename": "linux_yara_ppc.inc",
                "directory": 3
            },
            {
                "filename": "linux_yara_x64.inc",
                "directory": 3
            },
            {
                "filename": "linux_yara_x86.inc",
                "directory": 3
            },
            {
                "filename": "tenable-utils-LINUX-aarch64.bin",
                "directory": 3
            },
            {
                "filename": "tenable-utils-LINUX-i686.bin",
                "directory": 3
            },
            {
                "filename": "tenable-utils-LINUX-x86_64.bin",
                "directory": 3
            }
        ],
        "agentTags": ["%unix%"]
    },
    "linux-es": {
        "families": [
            "CentOS Local Security Checks",
            "Oracle Linux Local Security Checks",
            "Red Hat Local Security Checks",
            "Scientific Linux Local Security Checks",
            "Alma Linux Local Security Checks",
            "Rocky Linux Local Security Checks"
        ]
    },
    "linux-fc": {
        "families": ["Fedora Local Security Checks"]
    },
    "linux-debian": {
        "families": ["Debian Local Security Checks"]
    },
    "linux-ubuntu": {
        "families": ["Ubuntu Local Security Checks"]
    },
    "linux-amzn": {
        "families": ["Amazon Linux Local Security Checks"]
    },
    "linux-suse": {
        "families": ["SuSE Local Security Checks"]
    },
    "inventory": {
        "standalone": true,
        "files": [
            {
                "filename": "known_CA.inc",
                "directory": 3
            },
            {
                "filename": "plugin_feed_info.inc",
                "directory": 3
            },
            {
                "filename": "custom_CA.inc",
                "directory": 3
            }
        ],
        "tags": [
            {
                "asset_inventory": "true",
                "agent": "all"
            }
        ],
        "plugin_ids": [
            87413,
            87414,
            87415
        ]
    },
    "inventory-linux": {
        "tags": [
            {
                "asset_inventory": "true",
                "agent": "unix"
            }
        ],
        "files": [
            {
                "filename": "tenable-utils-LINUX-aarch64.bin",
                "directory": 3
            },
            {
                "filename": "tenable-utils-LINUX-i686.bin",
                "directory": 3
            },
            {
                "filename": "tenable-utils-LINUX-x86_64.bin",
                "directory": 3
            }
        ]
    },
    "inventory-windows": {
        "tags": [
            {
                "asset_inventory": "true",
                "agent": "windows"
            }
        ],
        "files": [
            {
                "filename": "tenable-utils-WINDOWS-x64.bin",
                "directory": 3
            },
            {
                "filename": "tenable-utils-WINDOWS-x86.bin",
                "directory": 3
            }
        ]
    },
    "inventory-darwin": {
        "standalone": true,
        "files": [
            {
                "filename": "known_CA.inc",
                "directory": 3
            },
            {
                "filename": "plugin_feed_info.inc",
                "directory": 3
            },
            {
                "filename": "custom_CA.inc",
                "directory": 3
            },
            {
                "filename": "tenable-utils-DARWIN.bin",
                "directory": 3
            }
        ]
    }
}
